<h5> Variations </h5>
<input type="file" class="form-control" (change)="this.uploading = true; this.upload($event);">
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async | number:0) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<ul>
    <li *ngFor="let variation of this.variationList | async | keyvalue">
        {{variation | json}}
        <img [src]="variation.value.img | url" width="80">
        <input type="text" [(ngModel)]="variation.description" [placeholder]="variation.value.description != null ? variation.value.description : 'description'">
        <button type="button" (click)="saveVariation(variation.value.img, variation.description)">Save</button>
    </li>
</ul> 