<h5> Upload a New Picture </h5>
<input type="file" class="form-control" (change)="this.uploading = true; this.upload($event);">
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async | number:0) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h4>Images</h4>
<ul>
    <li *ngFor="let image of this.imageList | async | keyvalue">
        {{image.value | filename}}
    </li>
</ul> 