<div mat-dialog-content>
    <main class="mt-5 pt-4"> 
      <div class="container dark-grey-text mt-5">
  
        <!--Grid row-->
        <div class="row wow fadeIn">
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <img [src]="data.product.primaryImage" class="img-thumbnail" alt="">
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!--Content-->
            <div class="p-4">
  
              <div class="mb-3">
                <div class="header">
                  <div class="category">
                      <h6 class="label label-danger">
                        <!-- <span class="mr-1">
                            <del>$200</del>
                          </span> -->
                        <span>${{data.product.price}}</span></h6>    
                  </div>
              </div>
              </div>
  
              <p class="lead">
                
              </p>
  
              <p>{{data.product.description}}</p>
  
            </div>
            <!--Content-->
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
        <hr>
  
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">
  
          <!--Grid column-->
          <div class="col-md-6 text-center">

            <bulletListDisplay [list-id]="data.product.bullets"></bulletListDisplay>
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row wow fadeIn">
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
  
            <!-- <img *ngFor="let image of data.product.images" (src)="image.url" class="img-fluid" alt=""> -->
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </div>
      <div id="row">
        <div class="label">Quantity</div>
        <button type="button" (click)="decrementQuantity()">-</button>
        <input type="text" id="quantity" [(ngModel)]="this.quantity" value="1">
        <button type="button" (click)="incrementQuantity()">+</button>
      </div>

    </main>
    <!--Main layout-->
  </div>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Quit</button>
    <button mat-button [mat-dialog-close]="false" (click)="addToCart()">Buy</button>
    <a [href]="this.checkoutUrl" *ngIf="this.checkoutUrl">Confirm Buy</a>
  </mat-dialog-actions>